{% extends "base.html" %}
{% block content %}

<div class="box">


    <div class="login-box">
        <h1>Flask Authentication</h1>
        <form>
        <a href="{{ url_for('login') }}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Login
        </a>
        <a href="{{ url_for('register') }}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Register
        </a>
        </form>
    </div>


</div>

{% endblock %}