{% extends "base.html" %}
{% block content %}

<div class="box">
    <div class="login-box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
  <h2>Login</h2>
    <form action="{{ url_for('login') }}" method="post">
        <div class="user-box">
      <input type="text" name="email" required="required">
      <label>Login</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" required="required">
      <label>Password</label>
    </div>
    <button type="submit">
        <a>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
        </a>
    </button>
    </form>
        </div>
</div>

{% endblock %}